# Server Configuration
PORT="8080"

# Keep your original line here:
DATABASE_URL="database_url"

# Add this line right below it for Prisma CLI commands:
DIRECT_URL="direct_url"

# Database Configuration
DATABASE_URL="your_postgresql_connection_string"
DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"
DATABASE_PORT="5432"
DATABASE_HOST="your_database_host"
PRISMA_CLIENT_ENGINE_TYPE="prisma_client_engine_type"
DATABASE_NAME="postgres"
NODE_ENV="development"

# Auth / JWT Secrets
JWT_SECRET="your_super_secret_access_token_key_here"
JWT_REFRESH_SECRET="your_super_secret_refresh_token_key_here"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Frontend Integration
FRONTEND_URL="http://localhost:3000"

# Shopify Partner Account and Development App
API_Key="my_api_key"
API_Secret="my_api_secret"

# SendGrid Email Configuration
SENDGRID_API_KEY="your_sendgrid_api_key_here"
SENDGRID_FROM_EMAIL="noreply@revluma.com"
SENDGRID_WELCOME_TEMPLATE_ID="your_sendgrid_template_id_for_welcome_email"