# Server Configuration
PORT="your_port_here"

# Keep your original line here:
DATABASE_URL="database_url"

# Add this line right below it for Prisma CLI commands:
DIRECT_URL="direct_url"

# Database Configuration
DATABASE_URL="your_postgresql_connection_string"
DATABASE_USER="your_jwt_secret_key"
DATABASE_PASSWORD= "your_database_password"
DATABASE_PORT="your_database_port"
DATABASE_HOST="your_database_host"
PRISMA_CLIENT_ENGINE_TYPE= "prisma_client_engine_type"
DATABASE_NAME="database_name"
NODE_ENV="node_env"


# Auth / JWT Secrets
JWT_SECRET="your_super_secret_access_token_key_here"
JWT_REFRESH_SECRET="your_super_secret_refresh_token_key_here"
JWT_EXPIRES_IN= "jwt_expires_In"
REFRESH_TOKEN_EXPIRES_IN="expires_In"

# Frontend Integration
FRONTEND_URL="frontend_url"

## Shopify Partner Account and Development App
API_Key(Client ID) = "my_api_key"
API_Secret_Key(Client Secret) ="my_api_secret"