Γùç injected env (0) from .env // tip: Γîÿ enable debugging { debug: true }
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "ai_alert_preferences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "ai_preference_id" UUID NOT NULL,
    "alert_type" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_alert_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_monitoring_areas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "ai_preference_id" UUID NOT NULL,
    "area_name" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_monitoring_areas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_preferences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "insight_frequency" TEXT NOT NULL,
    "alert_recipient" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_objectives" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "onboarding_profile_id" UUID NOT NULL,
    "objective" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "onboarding_objectives_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_profiles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "biggest_challenge" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "onboarding_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_tools" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "onboarding_profile_id" UUID NOT NULL,
    "tool_category" TEXT NOT NULL,
    "tool_name" TEXT NOT NULL,
    "is_custom" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "onboarding_tools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "organizations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "owner_id" UUID NOT NULL,
    "company_name" TEXT NOT NULL,
    "website_url" TEXT,
    "store_url" TEXT,
    "industry" TEXT NOT NULL,
    "custom_industry" TEXT,
    "country" TEXT NOT NULL,
    "state_region" TEXT,
    "team_size" TEXT,
    "monthly_revenue_range" TEXT,
    "monthly_order_volume" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "full_name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "email_verified" BOOLEAN DEFAULT false,
    "verification_code" TEXT,
    "verification_expires_at" TIMESTAMPTZ(6),
    "accepted_terms" BOOLEAN NOT NULL DEFAULT false,
    "accepted_privacy_policy" BOOLEAN NOT NULL DEFAULT false,
    "onboarding_completed" BOOLEAN DEFAULT false,
    "onboarding_step" INTEGER DEFAULT 1,
    "status" TEXT DEFAULT 'active',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "waitlist_users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "full_name" TEXT NOT NULL,
    "work_email" TEXT NOT NULL,
    "phone_number" TEXT,
    "twitter_handle" TEXT,
    "tiktok_handle" TEXT,
    "instagram_handle" TEXT,
    "company_name" TEXT NOT NULL,
    "website_url" TEXT,
    "store_url" TEXT,
    "industry" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "state_region" TEXT,
    "team_size" TEXT,
    "monthly_revenue_range" TEXT,
    "monthly_order_volume" TEXT,
    "ecommerce_platform" TEXT,
    "email_platform" TEXT,
    "analytics_platform" TEXT,
    "support_platform" TEXT,
    "ad_platform" TEXT,
    "primary_goal" TEXT,
    "biggest_challenge" TEXT NOT NULL,
    "current_churn_problem" BOOLEAN DEFAULT false,
    "abandoned_cart_problem" BOOLEAN DEFAULT false,
    "retention_problem" BOOLEAN DEFAULT false,
    "revenue_visibility_problem" BOOLEAN DEFAULT false,
    "why_join_waitlist" TEXT,
    "interested_in_beta" BOOLEAN DEFAULT true,
    "waitlist_position" INTEGER,
    "lead_score" INTEGER DEFAULT 0,
    "status" TEXT DEFAULT 'pending',
    "welcome_email_sent" BOOLEAN DEFAULT false,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "referral_code" TEXT NOT NULL,
    "referred_by_code" TEXT,
    "referral_count" INTEGER NOT NULL DEFAULT 0,
    "is_founding_member" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "waitlist_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "platform" TEXT NOT NULL,
    "shop_domain" TEXT NOT NULL,
    "access_token" TEXT,
    "status" TEXT NOT NULL DEFAULT 'not_connected',
    "installed_at" TIMESTAMPTZ(6),
    "last_synced_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "stores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customers" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "external_id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "full_name" TEXT,
    "phone" TEXT,
    "anonymous_id" TEXT,
    "consent_email" BOOLEAN DEFAULT false,
    "consent_sms" BOOLEAN DEFAULT false,
    "consent_updated_at" TIMESTAMPTZ(6),
    "ltv" DECIMAL(10,2) DEFAULT 0,
    "orders_count" INTEGER DEFAULT 0,
    "rfm_recency" INTEGER,
    "rfm_frequency" INTEGER,
    "rfm_monetary" INTEGER,
    "rfm_segment" TEXT,
    "status" TEXT DEFAULT 'active',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "abandoned_carts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "customer_id" UUID,
    "external_cart_id" TEXT,
    "session_id" TEXT,
    "cart_value" DECIMAL(10,2) NOT NULL,
    "currency" TEXT DEFAULT 'USD',
    "status" TEXT DEFAULT 'abandoned',
    "abandoned_at" TIMESTAMPTZ(6) NOT NULL,
    "recovered_at" TIMESTAMPTZ(6),
    "recovery_sequence_id" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "abandoned_carts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "abandoned_cart_items" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "abandoned_cart_id" UUID NOT NULL,
    "external_product_id" TEXT NOT NULL,
    "external_variant_id" TEXT,
    "product_name" TEXT NOT NULL,
    "variant_name" TEXT,
    "price" DECIMAL(10,2) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "image_url" TEXT,
    "product_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "abandoned_cart_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "customer_id" UUID NOT NULL,
    "external_order_id" TEXT NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "subtotal" DECIMAL(10,2),
    "discount_amount" DECIMAL(10,2),
    "currency" TEXT DEFAULT 'USD',
    "coupon_used" BOOLEAN DEFAULT false,
    "coupon_code" TEXT,
    "recovery_status" TEXT,
    "attribution_channel" TEXT,
    "attribution_sequence_id" UUID,
    "abandoned_cart_id" UUID,
    "ordered_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sequences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "channel" TEXT NOT NULL,
    "status" TEXT DEFAULT 'active',
    "delay_mins" INTEGER DEFAULT 30,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sequences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "type" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "action_url" TEXT,
    "read_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "events" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "customer_id" UUID,
    "session_id" TEXT,
    "anonymous_id" TEXT,
    "event_type" TEXT NOT NULL,
    "payload" JSONB,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ml_session_features" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "store_id" UUID NOT NULL,
    "customer_id" UUID,
    "session_id" TEXT,
    "anonymous_id" TEXT,
    "scroll_depth_pct" DOUBLE PRECISION,
    "tab_switch_count" INTEGER,
    "time_on_checkout_step_sec" DOUBLE PRECISION,
    "cursor_hesitation" DOUBLE PRECISION,
    "checkout_step_reached" INTEGER,
    "past_orders_total" INTEGER,
    "past_orders_with_coupon_pct" DOUBLE PRECISION,
    "days_since_last_purchase" INTEGER,
    "avg_order_value" DECIMAL(10,2),
    "purchase_frequency_trend" DOUBLE PRECISION,
    "visited_coupon_page" BOOLEAN,
    "searched_discount_terms" BOOLEAN,
    "abandoned_at_shipping_reveal" BOOLEAN,
    "failed_payment_attempt" BOOLEAN,
    "local_hour_of_session" INTEGER,
    "day_of_week_session" INTEGER,
    "time_on_page_ms" INTEGER,
    "google_shopping_referrer" BOOLEAN,
    "time_first_view_to_cart_add_hrs" DOUBLE PRECISION,
    "sale_period_purchase_only" BOOLEAN,
    "failed_coupon_attempt" BOOLEAN,
    "merchant_avg_order_value" DECIMAL(10,2),
    "account_creation_abandonment" BOOLEAN,
    "repeat_checkout_attempts" INTEGER,
    "device_type_mobile" BOOLEAN,
    "shipping_eta_dwell_sec" DOUBLE PRECISION,
    "trust_page_visited" BOOLEAN,
    "failed_coupon_count" INTEGER,
    "copied_product_title" BOOLEAN,
    "cart_value_vs_avg_order_value_ratio" DOUBLE PRECISION,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ml_session_features_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "token_hash" TEXT NOT NULL,
    "family_id" UUID NOT NULL,
    "device_hint" TEXT,
    "ip_address" TEXT,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "last_used_at" TIMESTAMPTZ(6),
    "is_revoked" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "login_attempts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" TEXT NOT NULL,
    "ip_address" TEXT,
    "attempted_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "success" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "login_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "organization_members" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'member',
    "status" TEXT NOT NULL DEFAULT 'active',
    "invited_by" UUID,
    "invited_at" TIMESTAMPTZ(6),
    "joined_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "organization_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invite_tokens" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'member',
    "invited_by" UUID NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "accepted_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "invite_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_api_keys" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "key_hash" TEXT NOT NULL,
    "prefix" TEXT NOT NULL,
    "scopes" TEXT[] DEFAULT ARRAY['read', 'write']::TEXT[],
    "last_used_at" TIMESTAMPTZ(6),
    "last_used_ip" TEXT,
    "expires_at" TIMESTAMPTZ(6),
    "revoked_at" TIMESTAMPTZ(6),
    "created_by" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_api_keys_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_ai_alerts" ON "ai_alert_preferences"("ai_preference_id");

-- CreateIndex
CREATE INDEX "idx_ai_monitoring" ON "ai_monitoring_areas"("ai_preference_id");

-- CreateIndex
CREATE UNIQUE INDEX "ai_preferences_organization_id_key" ON "ai_preferences"("organization_id");

-- CreateIndex
CREATE INDEX "idx_objectives_profile" ON "onboarding_objectives"("onboarding_profile_id");

-- CreateIndex
CREATE UNIQUE INDEX "onboarding_profiles_user_id_key" ON "onboarding_profiles"("user_id");

-- CreateIndex
CREATE INDEX "idx_tools_profile" ON "onboarding_tools"("onboarding_profile_id");

-- CreateIndex
CREATE INDEX "idx_organizations_owner" ON "organizations"("owner_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "idx_users_email" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "waitlist_users_work_email_key" ON "waitlist_users"("work_email");

-- CreateIndex
CREATE UNIQUE INDEX "waitlist_users_referral_code_key" ON "waitlist_users"("referral_code");

-- CreateIndex
CREATE INDEX "idx_waitlist_country" ON "waitlist_users"("country");

-- CreateIndex
CREATE INDEX "idx_waitlist_email" ON "waitlist_users"("work_email");

-- CreateIndex
CREATE INDEX "idx_waitlist_industry" ON "waitlist_users"("industry");

-- CreateIndex
CREATE INDEX "idx_waitlist_lead_score" ON "waitlist_users"("lead_score");

-- CreateIndex
CREATE INDEX "idx_waitlist_position" ON "waitlist_users"("waitlist_position");

-- CreateIndex
CREATE INDEX "idx_waitlist_status" ON "waitlist_users"("status");

-- CreateIndex
CREATE INDEX "waitlist_users_referral_code_idx" ON "waitlist_users"("referral_code");

-- CreateIndex
CREATE UNIQUE INDEX "uq_stores_org_domain" ON "stores"("organization_id", "shop_domain");

-- CreateIndex
CREATE INDEX "idx_customers_store" ON "customers"("store_id");

-- CreateIndex
CREATE INDEX "idx_customers_email" ON "customers"("email");

-- CreateIndex
CREATE INDEX "idx_customers_rfm_segment" ON "customers"("rfm_segment");

-- CreateIndex
CREATE INDEX "idx_customers_status" ON "customers"("status");

-- CreateIndex
CREATE INDEX "idx_customers_anonymous" ON "customers"("anonymous_id");

-- CreateIndex
CREATE INDEX "idx_customers_consent_email" ON "customers"("consent_email");

-- CreateIndex
CREATE UNIQUE INDEX "uq_customers_store_external" ON "customers"("store_id", "external_id");

-- CreateIndex
CREATE INDEX "idx_cart_items_cart" ON "abandoned_cart_items"("abandoned_cart_id");

-- CreateIndex
CREATE INDEX "idx_cart_items_product" ON "abandoned_cart_items"("external_product_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_orders_store_external" ON "orders"("store_id", "external_order_id");

-- CreateIndex
CREATE INDEX "idx_ml_features_store" ON "ml_session_features"("store_id");

-- CreateIndex
CREATE INDEX "idx_ml_features_customer" ON "ml_session_features"("customer_id");

-- CreateIndex
CREATE INDEX "idx_ml_features_session" ON "ml_session_features"("session_id");

-- CreateIndex
CREATE INDEX "idx_ml_features_anonymous" ON "ml_session_features"("anonymous_id");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_hash_key" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_user" ON "refresh_tokens"("user_id");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_hash" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_family" ON "refresh_tokens"("family_id");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_expires" ON "refresh_tokens"("expires_at");

-- CreateIndex
CREATE INDEX "idx_login_attempts_email" ON "login_attempts"("email");

-- CreateIndex
CREATE INDEX "idx_login_attempts_time" ON "login_attempts"("attempted_at");

-- CreateIndex
CREATE INDEX "idx_org_members_org" ON "organization_members"("organization_id");

-- CreateIndex
CREATE INDEX "idx_org_members_user" ON "organization_members"("user_id");

-- CreateIndex
CREATE INDEX "idx_org_members_status" ON "organization_members"("status");

-- CreateIndex
CREATE UNIQUE INDEX "uq_org_member" ON "organization_members"("organization_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "invite_tokens_token_hash_key" ON "invite_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_org" ON "invite_tokens"("organization_id");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_email" ON "invite_tokens"("email");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_hash" ON "invite_tokens"("token_hash");

-- CreateIndex
CREATE UNIQUE INDEX "admin_api_keys_key_hash_key" ON "admin_api_keys"("key_hash");

-- CreateIndex
CREATE INDEX "idx_admin_api_keys_hash" ON "admin_api_keys"("key_hash");

-- CreateIndex
CREATE INDEX "idx_admin_api_keys_creator" ON "admin_api_keys"("created_by");

-- AddForeignKey
ALTER TABLE "ai_alert_preferences" ADD CONSTRAINT "ai_alert_preferences_ai_preference_id_fkey" FOREIGN KEY ("ai_preference_id") REFERENCES "ai_preferences"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ai_monitoring_areas" ADD CONSTRAINT "ai_monitoring_areas_ai_preference_id_fkey" FOREIGN KEY ("ai_preference_id") REFERENCES "ai_preferences"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ai_preferences" ADD CONSTRAINT "ai_preferences_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "onboarding_objectives" ADD CONSTRAINT "onboarding_objectives_onboarding_profile_id_fkey" FOREIGN KEY ("onboarding_profile_id") REFERENCES "onboarding_profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "onboarding_profiles" ADD CONSTRAINT "onboarding_profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "onboarding_tools" ADD CONSTRAINT "onboarding_tools_onboarding_profile_id_fkey" FOREIGN KEY ("onboarding_profile_id") REFERENCES "onboarding_profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "organizations" ADD CONSTRAINT "organizations_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "stores" ADD CONSTRAINT "stores_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "customers" ADD CONSTRAINT "customers_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "abandoned_carts" ADD CONSTRAINT "abandoned_carts_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "abandoned_carts" ADD CONSTRAINT "abandoned_carts_recovery_sequence_id_fkey" FOREIGN KEY ("recovery_sequence_id") REFERENCES "sequences"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "abandoned_carts" ADD CONSTRAINT "abandoned_carts_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "abandoned_cart_items" ADD CONSTRAINT "abandoned_cart_items_abandoned_cart_id_fkey" FOREIGN KEY ("abandoned_cart_id") REFERENCES "abandoned_carts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_abandoned_cart_id_fkey" FOREIGN KEY ("abandoned_cart_id") REFERENCES "abandoned_carts"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_attribution_sequence_id_fkey" FOREIGN KEY ("attribution_sequence_id") REFERENCES "sequences"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "customers"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sequences" ADD CONSTRAINT "sequences_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "events" ADD CONSTRAINT "events_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "events" ADD CONSTRAINT "events_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ml_session_features" ADD CONSTRAINT "ml_session_features_store_id_fkey" FOREIGN KEY ("store_id") REFERENCES "stores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ml_session_features" ADD CONSTRAINT "ml_session_features_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "organization_members" ADD CONSTRAINT "organization_members_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "organization_members" ADD CONSTRAINT "organization_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

