
> backend@1.0.0 prisma
> node scripts/run-prisma.js migrate diff --from-url %DIRECT_URL% --to-schema-datamodel prisma/schema.prisma --script

Γùç injected env (27) from .env.production // tip: Γùê encrypted .env [www.dotenvx.com]
Γùç injected env (0) from .env.production // tip: Γùê encrypted .env [www.dotenvx.com]
-- AlterTable
ALTER TABLE "waitlist_users" ALTER COLUMN "referral_code" SET NOT NULL,
ALTER COLUMN "referral_count" SET NOT NULL,
ALTER COLUMN "referral_count" SET DEFAULT 0,
ALTER COLUMN "referral_count" SET DATA TYPE INTEGER,
ALTER COLUMN "is_founding_member" SET NOT NULL;

-- CreateTable
CREATE TABLE "organization_members" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'member',
    "status" TEXT NOT NULL DEFAULT 'active',
    "invited_by" UUID,
    "invited_at" TIMESTAMPTZ(6),
    "joined_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "organization_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invite_tokens" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'member',
    "invited_by" UUID NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "accepted_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "invite_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_api_keys" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "key_hash" TEXT NOT NULL,
    "prefix" TEXT NOT NULL,
    "scopes" TEXT[] DEFAULT ARRAY['read', 'write']::TEXT[],
    "last_used_at" TIMESTAMPTZ(6),
    "last_used_ip" TEXT,
    "expires_at" TIMESTAMPTZ(6),
    "revoked_at" TIMESTAMPTZ(6),
    "created_by" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_api_keys_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_org_members_org" ON "organization_members"("organization_id");

-- CreateIndex
CREATE INDEX "idx_org_members_user" ON "organization_members"("user_id");

-- CreateIndex
CREATE INDEX "idx_org_members_status" ON "organization_members"("status");

-- CreateIndex
CREATE UNIQUE INDEX "uq_org_member" ON "organization_members"("organization_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "invite_tokens_token_hash_key" ON "invite_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_org" ON "invite_tokens"("organization_id");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_email" ON "invite_tokens"("email");

-- CreateIndex
CREATE INDEX "idx_invite_tokens_hash" ON "invite_tokens"("token_hash");

-- CreateIndex
CREATE UNIQUE INDEX "admin_api_keys_key_hash_key" ON "admin_api_keys"("key_hash");

-- CreateIndex
CREATE INDEX "idx_admin_api_keys_hash" ON "admin_api_keys"("key_hash");

-- CreateIndex
CREATE INDEX "idx_admin_api_keys_creator" ON "admin_api_keys"("created_by");

-- CreateIndex
CREATE UNIQUE INDEX "waitlist_users_referral_code_key" ON "waitlist_users"("referral_code");

-- CreateIndex
CREATE INDEX "waitlist_users_referral_code_idx" ON "waitlist_users"("referral_code");

-- RenameForeignKey
ALTER TABLE "refresh_tokens" RENAME CONSTRAINT "fk_refresh_tokens_user" TO "refresh_tokens_user_id_fkey";

-- AddForeignKey
ALTER TABLE "organization_members" ADD CONSTRAINT "organization_members_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "organization_members" ADD CONSTRAINT "organization_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

